@import 'tailwindcss';

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
